.center {
    text-align: center;
}

img {
    border: 1px solid;
    border-radius: 137px;
}

ul {
    list-style: none;
    line-height: 44px;
}

.li1 {
    list-style-image: url(image/image2.jpg);
    
}

.photo {
    box-shadow: 1px 2px 10px currentColor;
    border-radius: 12px;
}
    
